* {
    font-family: Arial, Helvetica, sans-serif;
}
html {
    background-color: white
}

div {
    display: flex;
    background-color: rgb(235, 235, 235);
    align-items: center;
    flex-direction: column;
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 0;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
}

header h1 {
    background-color: white;
    padding-left: 350px;
    text-align: left;
}
.phototop {
    display: inline-block;
    font-size: 15px;
}

.numerotop {
    color: gray;
    margin-left: 370px;
}

#feed1, #feed2, #feed3, #feed4 {
    background-color: white;
    width: 50%;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

.footerimg {
    font-size: 13px;
    padding-left: 5px;
    text-align: start;
}